language: java
sudo: false 
install: true

jdk:
  - oraclejdk11

addons:
  sonarcloud:
    organization: "ibrahimatay-github"
    token:
      secure: dacd77f00174dba104b4f54144e619461d296f59
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
    
script: 
  - mvn clean 
  - mvn verify 
  - sonar-scanner
